body {
  margin: 0;
  padding-left: 0;
  background-color: #1abc9c;
}

.search_box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate (-50%, -50%);
  background-color: #2f3640;
  height:40px;
  border-radius: 40px;
  padding: 10px;
}

.input_box{
  border: none;
  outline: none;
  background: none;
  float: left;
  padding: 0;
  color: #fff;
  font-size: 16x;
  transition: 0.4s all;
  line-height: 40px;
  width: 0px;
}

.btn {
  color: #1abc9c;
  float: right;
  text-decoration: none;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

.search_box:hover .input_box{
  width: 240px;
  padding: 0 6px;
}

.search_box:hover .btn{
  background-color: #fff;
}
